# OS X, Linux, Windows system files
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
*~
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node.js dependencies
node_modules/
yarn.lock
package-lock.json

# Strapi build & cache files
.cache/
build/
dist/
.strapi/
exports/
.strapi-updater.json
.strapi-cloud.json

# Logs and temporary files
logs/
*.log
*.tmp
pids/
*.pid

# อนุญาตให้ Push รูปภาพใน Strapi
public/uploads/
!public/uploads/*
!public/uploads/**/*


# Environment variables
.env

# Tests & coverage
coverage/
.tsbuildinfo
.eslintcache

# ✅ อนุญาตให้แชร์ไฟล์ Database SQLite ของ Strapi
!.tmp/data.db
