
  
  /* A-Level Page Styles */
  .alevel-page {
    padding: 40px;
  }
  
  
  /* Subject and Price Selector */
  .subject-selector{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  
  .subject-selector h2 {
    font-size: 24px;
    color: #333;
    align-items: flex-end;
  }
  
  .dropdown {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 200px;
  }
  
  .dropdown:focus {
    outline: none;
    border-color: #000000;
  }
  
  
  /* Course List */
  .course-list {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0; /* ปรับ padding ด้านข้างให้ดูสมดุล */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .no-courses {
    text-align: center;
    font-size: 18px;
    color: #888;
  }

  .no-courses p{
    text-align: center;
    font-size: 24px;
    align-items: center;
    justify-content: center;
  }
  
  /* Loading Spinner */
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 /* Responsive Styles */
@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
  }

  .subject-selector {
    flex-direction: column;
    align-items: flex-start;
  }

  .dropdown {
    width: 100%;
    margin-bottom: 20px;
  }

  .course-list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* ปรับขนาดการ์ด */
    gap: 10px;
    justify-items: center; /* จัดการ์ดให้ตรงกลาง */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .course-list {
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* ปรับขนาดการ์ด */
    gap: 15px;
    justify-items: center; /* จัดการ์ดให้ตรงกลาง */
  }
}

@media (max-width: 375px) {
  .course-list-home {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* ลดขนาดการ์ดให้เล็กที่สุด */
    gap: 8px;
    justify-items: center; /* จัดการ์ดให้ตรงกลาง */
  }
}

