.home-page {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 32px;
  color: #333;
}

p {
  font-size: 18px;
  color: #666;
}

/* แสดง CourseCard เป็น Grid */
  .course-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
  }
